//$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
//@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
//@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...

.tableau {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.formula {
	display: block;
}

.beta {
	width: 100%;
}

.formula > .beta {
	display: inline-flex;
}

.formula > .beta > .formula {
	display: inline-block;
	width: 50%;
}

.formulaId {
	width: 20px;
}

.formulaInput {
	flex-grow: 1;
	width: calc(100% - 65px);
}

.formulaReference {
	width: 20px;
}

.formulaInput, .formulaReference {
	text-align: center;
	background-color: inherit;
	border: 0;
	border-bottom: thin dashed lightgray;
}

.expandControls {
	text-align: center;
	display: block;
}

.actions button {
	margin: 0 0.5em;
}

.actions #importJson {
	display: none;
}

/** delete button */
button.delete {
	padding: 0 0.3em;
	margin-left: 0.5em;
	border: thin solid lightgray;
	background-color: inherit;
	color: gray;
	height: 100%;
}
button.delete:hover {
	background-color: lightpink;
}

.premise { background-color: #def; }

.syntaxProblem    { background-color: lightpink; }
.semanticsProblem { background-color: rgb(255, 211, 131); }

.jsonImportError { background-color: lightpink; }

.rulesHelp .rule {
	display: inline-block;
	padding: 0.5em;
	text-align: center;
	vertical-align: top;
}

p code {
	background-color: lightgray;
	padding: 0 0.2em;
}

/**
 * Print style.
 * Hide everything except the tableau.
 */

@media print {
	body > div > *:not(.tableau):not(.verdict):not(.problems),
	button.delete
	{
		display: none;
	}
	.formulaEdit, .refEdit {
		border-bottom: none;
	}
	/* Print color backgrounds for webkit browsers */
	body {
		-webkit-print-color-adjust: exact;
	}
}

/* vim: set sw=2 ts=2 sts=2 et : */
