.tableau {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.formula {
	display: block;
}

.beta {
	width: 100%;
}

.formula > .beta {
	display: inline-flex;
}

.beta > .formula {
	display: inline-block;
	min-width: 20px;
	flex-grow: 1;
}

.formulaId {
	width: 10px;
}

.formulaInput {
	flex-grow: 1;
	width: calc(100% - 85px);
}

.formulaInputSubst {
	flex-grow: 1;
	width: calc(100% - 208px);
}

.substitutedVariable {
	width: 45px;
}

.substitutedConstant {
	width: 45px;
}

.formulaReference {
	width: 11px;
}

.formulaInput, .formulaReference, .formulaInputSubst, .substitutedVariable, .substitutedConstant {
	text-align: center;
	background-color: inherit;
	border: 0;
	border-bottom: thin dashed lightgray;
}

.expandControls {
	text-align: center;
}

.actions button {
	margin: 0 0.5em;
}

.actions {
	display: flex;
	justify-content: flex-end;
}

.problems {
	max-width: 97%;
}

.button {
	padding: 2px 10px;
	background-color: #fff;
	border-radius: 20px;
	border: thin solid #ececec;
}

.closed {
	min-width: 17px;
}

.nodeProblems {
	text-align: center;
	color: #ff8b31;
	font-weight: 900;
	font-size: 12px;
}

.nodeProblemsText {
	display: block;
}

/*custom menu component start*/
/* The necessities */
.onclick-menu {
	position: relative;
	display: inline-block;
}
.onclick-menu:before {
	font-size: 12px;
}

.onclick-menu.del:before {
	content: "Delete";
}

.onclick-menu.change:before {
	content: "Change";
}

.onclick-menu.add:before {
	content: "Add";
	margin-left: 5px;
}

.onclick-menu:focus {
	pointer-events: none;
}

.onclick-menu:focus .onclick-menu-content {
	opacity: 1;
	visibility: visible;
}

.onclick-menu-content {
	pointer-events: auto;
	position: absolute;
	z-index: 1;

	opacity: 0;
	visibility: hidden;
	transition: visibility 0.5s;
}

.onclick-menu.no-pointer-events {
	pointer-events: auto !important;
}

.onclick-menu.no-visibility .onclick-menu-content {
	visibility: visible !important;
	display: none;
}

.onclick-menu.no-visibility:focus .onclick-menu-content {
	display: block;
}

.onclick-menu.no-opacity .onclick-menu-content {
	opacity: 1 !important;
}

/*
Eye candy
( colors courtesy of https://kuler.adobe.com/try-color-theme-3350110 )
*/
.onclick-menu {
	padding: 0;
	margin: 0;
	outline: 0;
	margin-right: 0.3em;
	text-align: left;
}
.onclick-menu:before {
	padding: 2px 10px;
	background-color: #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: thin solid #ececec;
}
.onclick-menu-content {
	background-color: #364656;
	width: auto;

	margin-top: 19px;
	margin-left: 0;
	padding: 10px;
}

/* arrow for the expanding part */
.onclick-menu-content:before {
	content: "";
	width: 0;
	height: 0;

	border-bottom: 10px solid #364656;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	position: absolute;
	top: -10px;
}

.onclick-menu-content li {
	color: #f2f5e9;
	list-style-type: none;
	white-space: nowrap;
}

/* style the buttons */
.onclick-menu-content button {
	background: transparent;
	border: none;
	color: inherit;
	cursor: inherit;
	outline: 0;
	cursor: pointer;
}
.onclick-menu-content button:hover {
	color: #ff8c31;
}

/*custom menu component end*/

.actions #importJson {
	display: none;
}

/** delete button */
button.delete {
	padding: 0 0.3em;
	border: thin solid lightgray;
	background-color: inherit;
	color: gray;
}

.premise { background-color: #def; }

.syntaxProblem    { background-color: #ff8c31; }
.semanticsProblem { background-color: #ff8c3170; }

.jsonImportError {
	color: #ff8c31;
	font-size: 14px;
	display: flex;
	justify-content: center;
}

.rulesHelp {
	font-size: smaller;
}

.rulesHelp .rule {
	display: inline-table;
	border-collapse: collapse;
	margin: 0.5em;
	text-align: center;
	vertical-align: baseline;
}

.rulesHelp .rule td, .rulesHelp .rule th {
	border: initial;
	padding: .125em;
}

.rulesHelp .rule td {
	border-left: .5px solid black;
}

.rulesHelp .rule td:first-child {
	border-left: none;
}

.rulesHelp .rule tr:first-child {
	border-bottom: .5px solid black;
}

.rulesHelpTable {
	border-collapse: collapse;
	width: 100%;
}

.rulesHelpTable th, td {
	text-align: center;
	padding: .25em 0px;
	border-bottom: 1px solid #ddd;
	max-width: 400px;
}

.symbols > p {
	margin: 0px;
}

.rulesHelpTable  tr:nth-child(even){background-color: #def}

.rulesHelpTable th {
	background-color: #6193a2;
	color: white;
	padding: 2px;
}

.rulesHelpTable .formula {
	text-align: center;
}

.half {
	width: 48%;
	float: left;
	padding: 10px;
}

@media only screen and (max-width: 1180px) {
	.half {
		width:100%;
	}
}

/**
 * Print style.
 * Hide everything except the tableau.
 */

@media print {
	body > div > *:not(.formula):not(.verdict):not(.problems),
	.onclick-menu, .nodeProblems, .button
	{
		display: none;
	}
	.closed {
		display: inline-block;
	}
	.formulaEdit, .refEdit {
		border-bottom: none;
	}
	/* Print color backgrounds for webkit browsers */
	body {
		-webkit-print-color-adjust: exact;
	}
}

/* vim: set sw=2 ts=2 sts=2 et : */
