.tableau {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 0.875em;
  font-size: 0.875rem;
}

.tableau tr {
  vertical-align: top;
}

.tableau td {
  padding: 0.2em 0.5em;
}

.tableau td:not(:first-child) {
  border-left: thin solid black;
}
.tableau td:not(:last-child) {
  border-right: thin solid black;
}
.tableau td.beta {
  border-bottom: thin solid black;
}

.formula {
  display: flex;
  align-items: baseline;
}

.formulaEdit {
  flex-grow: 1;
  margin: 0 0.0833em;
}

.formulaEdit, .refEdit {
  text-align: center;
  background-color: inherit;
  border: 0;
  outline: 0;
  padding-bottom: 1px;
  border-bottom: 1px dashed lightgray;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.formulaEdit:focus, .refEdit:focus {
  background-color: rgba(0, 0, 0, 0.05);
  padding-bottom: 0;
  border-bottom: 2px solid #16a;
}

.formulaEdit:hover, .refEdit:hover {
  background-color: rgba(0, 0, 0, 0.075);
  border-bottom-style: solid;
}

.formulaEdit:active, .refEdit:active {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom-style: solid;
}

.expandControls .refEdit {
  margin: 0 0.2em;
}

.expandControls {
  text-align: center;
}

.actions button {
  margin: 0 0.5em;
}

.actions #importJson {
  display: none;
}

/** delete button */
button.delete {
  padding: 0 0.3em 0.1em;
  margin-left: 0.5em;
  border: thin solid lightgray;
  border-radius: 2px;
  background-color: inherit;
  color: gray;
  height: 100%;
}
button.delete:hover, button.delete:focus {
  color: white;
  border-color: #a12;
  background-color: #a12;
}

.premise { background-color: #def; }

.openComplete {
  font-family: sans-serif;
  font-size: 90%;
  display: inline-block;
  padding: .1em .25em 0;
  /* background-color: #eee #dea;
  border-radius: 2px; */
}

/*.syntaxProblem    { background-color: lightpink; }
.semanticsProblem { background-color: rgb(255, 211, 131); }*/
.syntaxProblem {
  background: rgb(255, 182, 193, 0.333);
}
.semanticsProblem {
  background: rgba(255,211,131,0.333);
}
.syntaxProblem:focus.formulaEdit, .syntaxProblem:focus.refEdit {
  background: rgb(255, 182, 193, 0.5);
}
.semanticsProblem:focus.formulaEdit, .semanticsProblem:focus.refEdit {
  background: rgba(255,211,131,0.5);
}
.syntaxProblem:hover.formulaEdit, .syntaxProblem:hover.refEdit {
  background: rgb(255, 182, 193, 0.667);
}
.semanticsProblem:hover.formulaEdit, .semanticsProblem:hover.refEdit {
  background: rgba(255,211,131,0.667);
}
.syntaxProblem:active.formulaEdit, .syntaxProblem:active.refEdit {
  background: rgb(255, 182, 193, 0.833);
}
.semanticsProblem:active.formulaEdit, .semanticsProblem:active.refEdit {
  background: rgba(255,211,131,0.833);
}
.syntaxProblem.formulaEdit, .syntaxProblem.refEdit {
  border-bottom-color: #a12;
}
.semanticsProblem.formulaEdit, .semanticsProblem.refEdit {
  border-bottom-color: #c82;
}

.jsonImportError { background-color: lightpink; }

.verdict .provable {
  font-family: sans-serif;
  font-size: 0.875em;
}

.rulesHelp .rule {
  display: inline-block;
  padding: 0.5em;
  text-align: center;
  vertical-align: top;
}

p code {
  background-color: lightgray;
  padding: 0 0.2em;
}

/**
 * Print style.
 * Hide everything except the tableau.
 */

@media print {
  body > div > *:not(.tableau):not(.verdict):not(.problems),
  button.delete
  {
    display: none;
  }
  .formulaEdit, .refEdit {
    border-bottom: none;
  }
  .formulaEdit.syntaxProblem, .refEdit.syntaxProblem,
  .formulaEdit.semanticsProblem, .refEdit.semanticsProblem {
    border-bottom-style: dashed;
  }
  /* Print color backgrounds for webkit browsers */
  body {
    -webkit-print-color-adjust: exact;
  }
}

/* vim: set sw=2 ts=2 sts=2 et : */
