.tableau {
  width: 100%;
}

.tableau tr {
  vertical-align: top;
}

.formula {
  display: flex;
}

.formulaEdit {
  flex-grow: 1;
  text-align: center;
}
.expandControls {
  text-align: center;
}

.syntaxProblem    { background-color: lightpink; }
.semanticsProblem { background-color: rgb(255, 211, 131); }


/* vim: set sw=2 ts=2 sts=2 et : */
